<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<script>
    function doAjax(){
        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                //letzte Aufgabe hier bearbeiten
                document.getElementById('ajaxinput').innerHTML=this.responseText;
                //alert(this.responseText);
            }
        };
        //mitgeben welches format und Material
        xhttp.open("GET", "ajax.php?format=html&material=Kautschuk", true);
        xhttp.send();
    }


</script>

<div class="jumbotron text-center">
    <h1>Choose your ball</h1>
    <p class="text-primary">To change material change the URL </p>
    <p>(This website is for professional programmers.)</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Column <mark>HTML/JSON</mark></h3>
                <p>Ball: {n}</p>

        </div>
        <div class="col-sm-4">
            <h3> Choose one of them </h3>
            <p> <--on the left you can sort out the type</p>
            <p>-----------------------------------------</p>
            <p>on the right you can see all the balls --></p>
        </div>
        <div class="col-sm-4">
            <h3>Column <mark>AJAX HTML</mark></h3>

            <button onclick="doAjax()" value="click">Load all of the balls</button>
            <p id="ajaxinput"></p>
        </div>
    </div>
</div>
</body>
</html>





